<?xml version='1.0' encoding='utf-8'?>
<widget id="com.rjfun.gomoku2" version="1.0.20140730" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Gomoku2</name>
    <description>
        Classic Gomoku game, totally re-designed.
    </description>
    <author email="rjfun.mobile@gmail.com" href="http://rjfun.com">
        RjFun
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
</widget>
